<header class="bg-primary-300 sticky top-0 z-50 border-b-1 border-gray-100">
  <div class="container mx-auto px-4 py-6 flex justify-between items-center">
    <h1 class="text-2xl font-bold">
      <a routerLink="/" class="w-full h-full flex items-center gap-2">
        <span class="text-orange-500">🏠</span>
        <a routerLink="/" class="w-full h-full text-orange-400"
          >JESWING_ENTERPRISE</a
        >
      </a>
    </h1>
    <nav>
      <ul class="flex space-x-6 items-center">
        <li>
          <a routerLink="/help" class="text-gray-300 hover:text-white text-sm"
            >Help</a
          >
        </li>
        <li>
          <a
            routerLink="/contact"
            class="text-gray-300 hover:text-white text-sm"
            >Contact</a
          >
        </li>
        <li>
          <a
            routerLink="/signup"
            class="relative inline-block px-5 py-1 rounded-full text-orange-600 border border-orange-600 overflow-hidden transition-colors duration-300 group"
          >
            <span
              class="absolute inset-0 bg-orange-600 translate-x-full group-hover:translate-x-0 transition-transform duration-300 ease-in-out"
            ></span>
            <span
              class="relative z-10 group-hover:text-white transition-colors duration-300 text-sm"
              >SignUp</span
            >
          </a>
        </li>
      </ul>
    </nav>
  </div>

 </header>
